%h3.no-top
  =link_to t('groups.singular'), 'javascript:void(0)', :onclick => "$('#edit').slideUp(); $('#group_show').slideDown()", :class => 'custom-history', :'data-history' => group_path(parent)
  \->
  =link_to t('forums.plural'), group_forums_path(parent), :remote => true, :class => 'history'
  \->
  =link_to resource, resource_url, :remote => true, :class => 'history'
  \->
  = t('forums.edit')
= simple_form_for(resource, :url => resource_url, :html => { :class => 'form grid_6', :style => 'margin-left: -70px'}, :remote => true) do |f|
  = render :partial => "form", :locals => {:f => f}