.doc.ui-state-hover{:title => document.name}
  =document_icon_for(document, true)
  .name=document.name.truncate(38)
  = hidden_field_tag 'documents[]', document.id
  .options
    -case option
      - when :add
        =link_to_icon :add, t('groups.documents.add'), "javascript:void(0)", :id => "add_#{document.id}", :chosen => "#{render(:partial => 'document', :locals => {:document => document, :option => :remove})}"
      - when :remove
        =link_to_icon :remove, t('groups.documents.remove'), "javascript:void(0)", :id => "remove_#{document.id}"