%h2=t('tips.self')
.block.notice
  %h3=t('tips.group_documents.tip')
  .content
    %p=t('tips.group_documents.tip_text')

.block.notice
  %h3=t('tips.group_documents.tip2')
  .content
    %p=t('tips.group_documents.tip2_text')

.block.notice
  %h3=t('tips.group_documents.tip3')
  .content
    %p=t('tips.group_documents.tip3_text')