.content
  %h2.title= @group.name
  .inner.group-documents
    .box
      %h3.center=t('groups.documents.accepted.plural')
      .doc-table#accepted
        = render :partial => 'table', :locals => {:documents => @accepted, :hide => @accepted.blank?}
        %p.center{:class => @accepted.blank? ? '' : 'none'}=t('groups.documents.accepted.blank')
    .box
      %h3.center=t('groups.documents.pending.plural')
      .doc-table#pending
        = render :partial => 'table', :locals => {:documents => @pending, :hide => @pending.blank?}
        %p.center{:class => @pending.blank? ? '' : 'none'}=t('groups.documents.pending.blank')
%br.clear