.clear{
	clear:all !important;
}
.left{
	float: left !important;
}
.right{
	float: right !important;
}
.center{
	text-align:center !important;
}
.none{
	display: none;
}
.spaced{
	margin:5px;
}
.small{
	float:left;
	font-size: 10px;
	color: gray;
	width:200px;
	padding:5px;
}
.small_box{
	float:left;
	width:200px;
	margin:0 5px;
}
.small_button{
	padding: 1.5px 5px !important
}

.updates{
	height:450px;
	overflow:auto;
}

.updates img{
	margin:5px;
	padding:5px;
}

.updates li:hover {
  background-color:#ebebeb;
}

#status{
	float:left;
	width:100%;
	font-size:10pt;
}

#status .title{
	float:left;
	font-size:13pt;
}

#status .input{
	margin: 0 10px;
	float:left;
	width:80%;
}

#group-status{
	float:left;
	width:100%;
	font-size:10pt;
}

#group-status .title{
	float:left;
	font-size:13pt;
}

#group-status .input{
	margin: 0 10px;
	float:left;
	width:70%;
}

#promote-group{
	float:left;
	width:100%;
	font-size:10pt;
}

#promote-group .input{
	margin-right: 11px;
	float:left;
	width:68%;
	font-size:8pt;
}

#module-box{
	height: 150px;
}

#module-box .left{
	width: 60%;
}
#module-box .right{
	width: 40%;
}

#doc-box{
	margin: 10px;
	padding: 0px;
	overflow:auto;
	height:100px;
	font-size:10px;
}

#doc-box .name{
	float:left;
	margin: 2px 0 0px 10px;
	width:200px;
}

#doc-box .doc{
	margin:2px;
	padding:5px;
	clear:left;
	height:15px;
}

#doc-box .doc img{
	float:left;
}

#doc-box .doc .options{
	float:right;
	text-decoration: underline;
}

.share-box{
	height: 500px;
	width: 48%;
	float:left;
	margin: 5px;
	overflow:auto;
}

.share-box .name{
	float:left;
	margin: 2px 0 0px 10px;
	width:300px;
}

.share-box .doc{
	margin:5px;
	padding:5px;
	clear:left;
	height:15px;
}

.share-box .doc img{
	float:left;
}

.share-box .doc .options{
	float:right;
	text-decoration: underline;
}

.share-box .select{
	margin: 3px;
	width: 230px;
}

.share-box #chosen-form{
	margin:2px;
}

.group-documents .box{
	float:left;
	width:50%;
}

.group-documents .box .doc-table{
	height: 400px;
	overflow: auto;
	margin: 3px;
}

#new-form{
	padding:15px;
	width:90%;
}

#new-form textarea{
	height:100px;
}

.form .links, .form .nested-fields{
	margin:10px 0;
}
