/******* Helpers *******/
.none{
	display: none; 
}
.none-i{
	display: none !important;
}
.clear{
	clear:both !important;
}
.left{
	float: left !important;
}
.right{
	float: right !important;
}
.center{
	text-align:center !important;
}
.auto{
	width:auto !important;
}
.spaced{
	margin:5px !important;
}
.spaced-left{
	margin-left:5px !important;
}
.spaced-top{
	margin-top:5px !important;
}
.spaced-right{
	margin-right:5px !important;
}
.red{
	color:red !important;
}

/******* General Custom CSS *******/

.small{
	float:left;
	font-size: 10px;
	color: gray;
	width:200px;
	padding:5px;
}
.small-box{
	float:left;
	width:200px;
	margin:0 5px;
}
.small-button{
	padding: 1.5px 5px !important;
}

/******* Dashboard & Updates *******/

.updates{
	height:450px;
	overflow:auto;
}

.updates img{
	margin:5px;
	padding:5px;
}

.updates li:hover {
  background-color:#ebebeb;
}

#status{
	float:left;
	width:100%;
	font-size:10pt;
}

#status .title{
	float:left;
	font-size:13pt;
}

#status .input{
	margin: 0 10px;
	float:left;
	width:80%;
}

/******* Groups *******/

#group-status{
	float:left;
	width:100%;
	font-size:10pt;
}

#group-status .title{
	float:left;
	font-size:13pt;
}

#group-status .input{
	margin: 0 10px;
	float:left;
	width:70%;
}

#promote-group{
	float:left;
	width:100%;
	font-size:10pt;
}

#promote-group .input{
	margin-right: 11px;
	float:left;
	width:68%;
	font-size:8pt;
}

#module-box{
	height: 180px;
	padding:5px;
}

#module-box .left{
	width: 60%;
}
#module-box .right{
	width: 40%;
}

#doc-box{
	margin: 10px;
	padding: 0px;
	overflow:auto;
	height:100px;
	font-size:10px;
}

#doc-box .name{
	float:left;
	margin: 2px 0 0px 10px;
	width:215px;
}

#doc-box .doc{
	margin:2px;
	padding:5px;
	clear:left;
	height:15px;
}

#doc-box .doc img{
	float:left;
}

#doc-box .doc .options{
	float:right;
	text-decoration: underline;
}

.share-box{
	height: 500px;
	width: 380px;
	float:left;
	margin: 2px;
	overflow:auto;
}

.share-box .name{
	float:left;
	margin: 2px 0 0px 10px;
	width:290px;
}

.share-box .doc{
	margin:5px;
	padding:5px;
	clear:left;
	height:15px;
}

.share-box .doc img{
	float:left;
}

.share-box .doc .options{
	float:right;
	text-decoration: underline;
}

.share-box .select{
	margin: 3px;
	width: 200px;
}

.share-box #chosen-form{
	margin:2px;
}

.share-box .small-box{
	width:180px;
}

.group-documents .box{
	float:left;
	width:50%;
}

.group-documents .box .doc-table{
	height: 400px;
	overflow: auto;
	margin: 3px;
}

#new-form{
	padding:15px;
	width:90%;
}

#new-form textarea{
	height:100px;
}

.form .links, .form .nested-fields{
	margin:10px 0;
}

/******* Home *******/

.home img{
	margin:15px;
}


/******* Profile *******/
.authentications {
  margin-bottom: 10px;
}

.authentication {
  width: 65px;
  float: left;
  background-color: #EEE;
  border: solid 1px #999;
  padding: 5px 10px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  position: relative;
  margin: 10px;
}

.authentication .remove {
  text-decoration: none;
  position: absolute;
  top: 3px;
  right: 3px;
  color: #333;
  padding: 2px 4px;
  font-size: 10px;
}

.authentication .remove:hover {
  color: #CCC;
  background-color: #777;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.authentication img {
  float: left;
  margin-right: 10px;
}

.authentication .provider {
  font-weight: bold;
}

.provider img {
  display: block;
}

.provider {
  float: left;
  text-decoration: none;
  margin-right: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.signin{
	margin-top: 10px;
}

.update-module{
	width:100px;
}

/******* Sidebar *******/

.sidebar-box{
	max-height:60px;
	overflow:auto;
}

.sidebar-box a img{
	height: 50px;
}

/******* Forums *******/

.post .author{
	float:left;
	width:200px;
	height:100%;
}

.post .text{
	margin-left:200px;
	width:500px;
}

.post .actions{
	float:left;
	font-size: 10px;
	color: gray;
	padding:5px;
}

.post .actions a{
	margin-left: 20px;
}

.post .edit-form{
	width:500px;
	float:left;
}

.reply{
	width: 100%;
}

.nested-posts {
  margin-left: 30px;
}

.nested-posts .nested-posts .nested-posts .nested-posts {
  margin-left: 0;
}

/* Misc */

.edit-form .input{
	float:left;
	width:400px;
	margin:0;
	margin-right:5px;
}

.flash .box {
	text-align:left;
  border: 1px solid #e5e5e5;
  background-color: #e5e5e5;
}

.flag{
	margin-bottom: -10px !important;
	margin-top: -10px !important;
}

.endless{
	height:550px;
	overflow:auto;
}

/* Overwrites on theme */

.list-view li.custom{
    padding: 10px 30px 10px 55px;
}

.list-view li.custom .avatar {
    border: 0;
    float: left;
    height: auto;
    width: auto;
    margin: 0px 10px 0px -30px;
}

.list-view li.custom .avatar img {
    width: auto;
    height: auto;
}

.list-view li.custom .entry-meta{
  margin-top:5px;
}

.list-view li.custom .entry-meta button{
  margin-top:5px;
}

ul.action-buttons li {
  width:auto;
}

.action-button-link:hover {
  text-decoration:none;
}