= form_tag promote_group_path(resource), :method => :post, :class => 'form' do
  #promote-group
    = button_to_icon :star, t('groups.promote'), 'javascript:void(0)', :class => "small-button", :onclick => "$('#promote').removeClass('none');$('.text-field').focus()"
    .none#promote
      .input= text_field_tag :message, '', :maxlength => 100, :class => 'text-field'
      = submit_button(:small => true) do
        =t('groups.promote_submit') 
%br.clear