%h2=t('tips.self')
.block.notice
  %h3=t('tips.groups.tip')
  .content
    %p=t('tips.groups.tip_text')

.block.notice
  %h3=t('tips.groups.tip2')
  .content
    %p=t('tips.groups.tip2_text')

.block.notice
  %h3=t('tips.groups.tip3')
  .content
    %p=t('tips.groups.tip3_text')