- following = resource.following
- followers = resource.followers
.block
  %h3 Following
  .content
    - unless following.empty?
      - following.each do |user|
        %p= link_to user.name, user
    - else
      %p Not following anyone.
    
.block
  %h3 Followers
  .content
    - unless followers.empty?
      - followers.each do |user|
        %p= link_to user.name, user
    - else
      %p No followers.
