.login-box.main-content{:style => 'top:40%;'}
  %header
    %h2=t('devise.forgot_password')
  %section
    = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, :class => 'clearfix'}) do |f|
      = f.input :email, :placeholder => t('devise.passwords.email'), :style => "width:95%", :required => true
      %p.clearfix
        = submit_button do
          = t('devise.send_me_password')
    %br
    =render :partial => "devise/shared/links"