#box
  #block-signup.block
    %h2= t('auth.please_complete')
    .content.login
      .flash
        .message.notice
          %p=t('auth.first_time')
      =simple_form_for(resource,:as => resource_name,:url => registration_path(resource_name),:html =>{:class => 'form'}) do |f|
        =f.input :login 
        =f.input :name
        =f.input :email
        .group.navform.wat-cf
          = submit_button do
            = image_tag("icons/tick.png", :alt => t('shared.signup')) 
            = t 'shared.signup'
          %br.clear  
          %br.clear
        
      =render :partial => "devise/shared/links"