%h2=t('tips.self')
.block.notice
  %h3=t('tips.registrations.tip')
  .content
    %p=t('tips.registrations.tip_text')
.block.notice
  %h3=t('tips.registrations.tip2')
  .content
    %p=t('tips.registrations.tip2_text')