= javascript_include_tag 'jquery/jquery-1.5.2.min', 'jquery/jquery-ui-1.8.10.min', 'jquery/jquery.tools.min', 'jquery/jquery.endless-scroll', 'swfobject', 'jquery/jquery.uploadify.min', 'facebox', 'rails', 'cocoon' , 'theme', 'application', :cache => true
/ = javascript_include_tag 'track'