= stylesheet_link_tag "theme/reset", "theme/grid", "theme/style", "theme/messages", "theme/forms", "theme/tables", "smoothness/jquery-ui-1.8.10", "application"
/[if lte IE 8]
  = stylesheet_link_tag 'theme/ie'
%link{:rel => 'shortcut icon', :href => '/images/icon.png'}

