%li
  .left
    =link_to document_icon_for(document), document.file.url, :title => t('shared.click_to_download')
    %br
  .item
    %h3=document.name
    %p=document.description
    - if user_signed_in?
      - unless current_user.has_document?(document)
        .small=button_to_icon :add, t('documents.add'), add_user_document_path(current_user, document), :method => :post
      - else
        .small=button_to_icon :remove, t('documents.remove'), remove_user_document_path(current_user,document), :method => :delete
      %br.clear