%li.form-document.fl
  = hidden_field_tag 'chosen_documents[]', document.id
  = document_icon_for(document)
  %strong.fl= document.name
  %br
  %em.fl= file_size_from_bytes(document.file_size)
%br.clear