%h4 Status Update
%hr
%ul.profile-info
  %li.email
    %span email
    rofl@copter.com
  %li.phone
    %span phone
    rofl@copter.com
  %li.mobile
    %span mobile
    rofl@copter.com
%h4 Tasks or something
%hr
None
= link_to "Add One Now", "javascript:void(0)"
%h4 Additional info
%hr
%ul.profile-info
  %li.calendar-day
    %span birthday
    January 1, 1991
  %li.house
    %span home
    123 SOme street
  %li.building
    %span office
    234 Other street
