- teached = current_user.courses_teached
- entered = current_user.courses
%h1=t('courses.my_courses')
.block
  %h3=t('courses.created')
  .content
    - unless teached.blank?
      - teached.each do |course|
        %p= link_to course.name, course
    - else
      %p
        =t('courses.created_none')
        =link_to t('courses.create_one_now'), new_course_path
    
.block
  %h3=t('courses.entered')
  .content
    - unless entered.blank?
      - entered.each do |course|
        %p= link_to course.name, course
    - else
      %p
        =t('courses.entered_none')
        =link_to t('courses.enter_one_now'), courses_path
